body {
  margin: 0;
  padding: 0;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}

.sedap__nodeWrap {
  overflow: hidden;
  border-color: var(--vscode-editorCursor-foreground);
}

.sedap__nodeBadge {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  align-items: center;
}

.sedap__node {
  background: linear-gradient(var(--vscode-editor-background), var(--vscode-editor-background));
  border-color: var(--vscode-editorCursor-foreground);
}

[data-sedap-node-selected] {
  border-width: 2px;
}

[data-sedap-node-selected] .sedap__node {
  color: var(--vscode-editor-selectionForeground);
}

[data-sedap-node-selected="primary"] .sedap__node {
  background:
    linear-gradient(var(--vscode-editor-selectionBackground), var(--vscode-editor-selectionBackground)),
    linear-gradient(var(--vscode-editor-background), var(--vscode-editor-background));
}

[data-sedap-node-selected="secondary"] .sedap__node {
  background:
    linear-gradient(var(--vscode-editor-inactiveSelectionBackground), var(--vscode-editor-inactiveSelectionBackground)),
    linear-gradient(var(--vscode-editor-background), var(--vscode-editor-background));
}

.sedap__nodeText {
  font-family: var(--vscode-editor-font-family);
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.react-flow__edge-textbg {
  fill: var(--vscode-editor-background);
}

.react-flow__edge-path {
  stroke: var(--vscode-editorCursor-foreground);
}

.react-flow__edge-text {
  fill: var(--vscode-editor-foreground);
}

.react-flow__background {
  background-color: var(--vscode-editor-background);
}

.react-flow__controls-button {
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
}

.react-flow__controls-button:hover {
  background: var(--vscode-button-hoverBackground);
}

.react-flow__minimap {
  border: 2px solid var(--vscode-editorCursor-foreground);
  background: var(--vscode-editor-background);
}

.react-flow__minimap-node {
  fill: var(--vscode-editor-inactiveSelectionBackground);
  stroke: var(--vscode-editor-foreground);
}

.react-flow__minimap-mask {
  fill: var(--vscode-editor-selectionBackground);
}

vscode-panel-view {
  height: 100%;
  padding: 0;
}
